<h1>LCP</h1>
<div>some text...</div>
<div>some text...</div>

<div>some text...</div>
<div>some text...</div>

<div>some text...</div>
<div>some text...</div>
<div>some text...</div>
<div>some text...</div>
<div>some text...</div>
<div>some text...</div>
<div>some text...</div>
<div>some text...</div>
<div>some text...</div>
<div>some text...</div>

<!-- <img src="india.jpg" class="flag" />
<img src="us.jpg" class="flag" /> -->
<img src="{{ imageSrc }}" alt="Simulated Large Content" class="img" />
