.img {
  height: 300px;
  width: 500px;
}

.loader {
  animation: pulse 1.5s infinite;
  height: 300px;
  width: 500px;
}

@keyframes pulse {
  0% {
    background-color: #e0e0e0;
  }
  50% {
    background-color: #c0c0c0;
  }
  100% {
    background-color: #e0e0e0;
  }
}
